    body {
	margin:0;
}

.image {
	margin:30px; 
	float:left;
	cursor:pointer;
	max-height:100px;
}

.popup {
	position: fixed;
        /* height: 100%; */
        /* width: 100%; */
        top: 300%;
        left: 0;
        display: none;
        text-align: center;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1;
}

.popup_bg {
	background:rgba(0,0,0,0.4);
	position:absolute;
	z-index:1;
	height:100%;
	width:100%;
}


.popup_img {
	position: relative;
	margin:0 auto;
        right: 9%;
        
	z-index:2;
	max-height:94%;
	max-width:94%;
	margin:1% 0 0 0;
}