.recallPassword{
    .authorization{
        @include adaptive(mobile){
            margin-bottom: 0;
        }
    }
    .authorization_block{
        // height: 390px;
        min-height: 0;
        @include adaptive(mobile){
            height: 420px;
            margin-bottom: 0;
        }
    }
    .authorization_block_title{
        margin-bottom: 20px;
    }
    .registration_block_agreement{
        display: block;
        margin-bottom: 30px;
    }
    button{
        margin-top: 0;
    }
    .client_block_form{
        margin-bottom: 30px;
    }
}
