.form-wrapper {
  padding: 45px 40px;
  background: #fff;
  max-width: 385px;
  margin: auto;
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.3);
}

.form-title {
  font-family: $semibold;
  font-size: 1.625em;
  font-weight: normal;
  color: $dark-blue;
  margin: 0 0 40px 0;
  text-align: left;

  &--margin {
    margin-bottom: 15px;
  }
}

.form-text {
  font-size: 0.85em;
  font-family: $regular;
  margin-bottom: 30px;
  text-align: left;
}

.basic-form {
  @include clearfix-micro();


  &-input {
    background: #f2f5f7;
    max-width: 300px;
    display: block;
    margin-bottom: 20px;
    padding-left: 20px;
    width: 100%;
    height: 40px;
    border: 1px solid $light-gray;

    @include placeholder()
      color: $dark-blue;
      font-size: 0.9em;
      font-family: $regular;
  }

  &-button {
    float: left;

    &--width {
      width: 100%;
    }
  }

  &-link {
    color: $blue;
    font-size: 0.85em;
    float: right;
    margin-top: 13px;
    margin-right: 10px;
    font-family: $regular;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Авторизация


.if-not {
  margin-top: 40px;

  .description {
    display: inline-block;
    font-size: 0.85em;
    margin-right: 35px;
    font-family: $regular;
  }
}

// Регистрация

.check-in {
  margin: 120px auto 80px;
  text-align: center;
}

// Восстановление пароля

.backpassword {
  margin: 120px auto 80px;
  text-align: center;
}
