$desktop: 1280px;
$pad: 768px;
$mobile: 320px;

// Fonts
$roadradio-thin: "roadradio-thin";

$bold: "sfuidisplay-bold";
$black: "sfuidisplay-black";
$heavy: "sfuidisplay-heavy";
$light: "sfuidisplay-light";
$medium: "sfuidisplay-medium";
$regular: "sfuidisplay-regular";
$semibold: "sfuidisplay-semibold";
$thin: "sfuidisplay-thin";
$ultralight: "sfuidisplay-ultralight";


// Colors

$blue: #4d81ef;
$green: #42d79e;
$yellow: #eece1d;
$pink: #fb5c86;
$gray: #b3b3b3;
$light-gray: #e7e7e7;
$dark-blue: #424955;
