#change_personal_data{
    .registasagent_left{
        width: 30%;
        position: relative;
        @include adaptive(mobile){
            width: 100%;
            text-align: left;
        }
    }
    .error{
        position: absolute;
        width: 100px;
        line-height: 15px;
        text-align: left;
        right: -415px;
        padding-top: 5px;
        @include adaptive(pad){
            font-size: 12px;
            line-height: 16px;
            right: -415px;;
        }
        @include adaptive(mobile){
            font-size: 11px;
            line-height: 14px;
            right: auto;
            width: 100%;
            padding: 0;
            top: 80px;
            left: 0;
            text-transform: uppercase;
            text-align: center;
        }
    }
}
